<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>1h</th>
                <th>24h</th>
                <th>Volume</th>
                <th>Blockchain</th>
                <th>Added</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= coin.name %></td>
                <td><%= coin.price %></td>
                <td><%= coin._1h %></td>
                <td><%= coin._24 %></td>
                <td><%= coin.volume %></td>
                <td><%= coin.blockchain %></td>
                <td><%= coin.added %> </td>
            </tr>

        </tbody>
    </table>
</div>